<div typeof="besluit:Besluit" resource={{besluit.uri}} class="info-tile">
  <div class="info-tile__header__wrapper">
    <div class="grid">
      <div class="col--8-12">
        <link property="prov:wasGeneratedBy" resource={{besluit.volgendUitBehandelingVanAgendapunt.uri}}>
        <h3 class="info-tile__header__title u-spacer--tinier" property="eli:title">
          {{clean-spaces besluit.titel}}
        </h3>
        {{#if besluit.beschrijving}}
          <p class="info-tile__header__subtitle" property="eli:description">
            {{besluit.beschrijving}}
          </p>
        {{else}}
          <p class="text-fade">Korte beschrijving niet gevonden</p>
        {{/if}}
        {{#unless uittreksel}}
          <p class="smallest text-fade uppercase u-spacer--top--tiny">Volledige inhoud niet publiek</p>
        {{/unless}}
      </div>
      <div class="col--4-12 u-align-right">
        {{#if uittreksel}}
          {{#link-to "bestuurseenheid.zitting.uittreksels.detail" uittreksel.id class="button button--alt button--alt--blue button--narrow button--small"}}
            Bekijk volledige inhoud <i class="vi vi-arrow vi-u-s button__icon"></i>
          {{/link-to}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
{{yield}}
