{{#with-rdfa-context model=besluit class="info-tile" classBinding="uittreksel:u-background--gray-lightest" as |ctx|}}
	<div class="info-tile__header__wrapper">
	  <div class="grid">
	  	<div class="col--8-12">
        <!-- TODO add RDFa volgendUitBehandelingVanAgendapunt.onderwerp.zitting when RDFa helpers support inverse relations -->
        {{#ctx.get prop="titel" as |attrs title|}}
			    <h3 {{rdfa attrs}} class="info-tile__header__title u-spacer--tinier">
            {{clean-spaces title}}
          </h3>
        {{/ctx.get}}
				{{#if besluit.beschrijving}}
          {{#ctx.get prop="beschrijving" as |attrs description|}}
					  <p {{rdfa attrs}} class="info-tile__header__subtitle">
              {{clean-spaces besluit.beschrijving}}
            </p>
          {{/ctx.get}}
			  {{else}}
			    <p class="text-fade">Korte beschrijving niet gevonden</p>
			  {{/if}}
		    {{#unless uittreksel}}
					<p class="smallest text-fade uppercase u-spacer--top--tiny">Volledige inhoud niet publiek</p>
		    {{/unless}}
			</div>
	  	<div class="col--4-12 u-align-right">
		    {{#if uittreksel}}
          {{#link-to "bestuurseenheid.zitting.uittreksels.detail" uittreksel.id class="button button--alt button--alt--blue button--narrow button--small"}}
            Bekijk volledige inhoud <i class="vi vi-arrow vi-u-s button__icon"></i>
          {{/link-to}}
		    {{/if}}
			</div>
		</div>
	</div>
{{/with-rdfa-context}}
{{yield}}
