<div class="u-spacer--small">
  <PowerSelect
    @ariaLabel="Zoekbalk"
    @placeholder="Oost-Vlaanderen, Berchem, Hasselt, ..."
    @selected={{@selected}}
    @searchEnabled={{true}}
    {{!-- @options={{this.bestuureenheidNamen}} --}}
    @option={{array}}
    {{!-- @search={{fn (mut this.searchText)}} --}}
    @search={{perform this.search}}
    @onChange={{@onSelect}}
    @onClose={{fn (mut this.searchText) ""}}
    @allowClear={{true}}
    as |bestuurseenheidNaam|
  >
    {{bestuurseenheidNaam}}
  </PowerSelect>
  {{log this.isLoadingData}}
</div>