<div class="u-spacer--small">
  <PowerSelect @placeholder="Oost-Vlaanderen, Berchem, Hasselt, ..." @selected={{selected}} @searchEnabled={{true}} @options={{bestuurseenheidNamen}} @search={{perform findBestuurseenheidNamen}} @onChange={{onSelect}} @allowClear={{true}} as |bestuurseenheidNaam|>
    {{bestuurseenheidNaam}}
  </PowerSelect>
</div>

{{yield}}
