<div class="{{if besluit.isExpanded "col--12-12" "col--11-12"}}" {{action "toggleExpand"  besluit}}>
  <div class="info-tile info-tile--expandable info-tile--capped {{if besluit.isExpanded "info-tile--capped--expand" "info-tile--capped"}}">
    <h3 class="info-tile__header__title">Gegenereerde titel van de bekendmaking {{clean-spaces besluit.titel}}</h3>
    <p class="info-tile__header__subtitle">Korte omschrijving van de bekendmaking {{clean-spaces besluit.beschrijving}}</p>
    <div class="info-tile__content">
      {{#if uittreksel.inhoud}}

        {{{uittreksel.inhoud}}}

      {{else}}
        Inhoud (nog niet) beschikbaar.
      {{/if}}
    </div>
  </div>
</div>


{{!--
<div class="{{if besluit.isExpanded "col--12-12" "col--11-12"}}" {{action "toggleExpand" besluit}}>
<div class="info-tile {{if besluit.isExpanded "info-tile--capped--expand" "info-tile--capped"}}">
<h3 class="info-tile__header__title">NIET PUBLIEK Gegenereerde titel van de bekendmaking {{clean-spaces besluit.titel}}</h3>
<p class="info-tile__header__subtitle">Korte omschrijving van de bekendmaking {{clean-spaces besluit.beschrijving}}</p>
<div class="info-tile__content">
<p class="text-fade">Agendapunt werd behandeld tijdens de zitting, maar niet publiek gemaakt.</p>
</div>
</div>
</div>
--}}
