{{#if besluit.id}}
  {{#with-rdfa-context model=besluit class="info-tile" classBinding="uittreksel:u-background--gray-lightest" as |ctx|}}
    <div class="info-tile__header__wrapper">
      <div class="grid">
        <div class="col--8-12">
          <!-- TODO add RDFa volgendUitBehandelingVanAgendapunt.onderwerp.zitting when RDFa helpers support inverse relations -->
          <ctx.get @prop="titel" as |elements title|>
			      <h3 {{rdfa elements}} class="info-tile__header__title u-spacer--tinier">
              {{clean-spaces title}}
            </h3>
          </ctx.get>
				  {{#if besluit.beschrijving}}
            <ctx.get @prop="beschrijving" as |elements description|>
					    <p {{rdfa elements}} class="info-tile__header__subtitle">
                {{clean-spaces besluit.beschrijving}}
              </p>
            </ctx.get>
          {{else}}
            <p class="info-tile__header__subtitle text-fade">Korte beschrijving niet gevonden</p>
          {{/if}}
          {{#unless uittreksel.inhoud}}
            <p class="smallest text-fade uppercase u-spacer--top--tiny">Volledige inhoud niet publiek</p>
          {{/unless}}
        </div>
        <div class="col--4-12 u-align-right u-padding--right--small">
          {{#if uittreksel.inhoud}}
            <LinkTo @route="bestuurseenheid.zitting.uittreksels.detail" @model={{uittreksel.id}} class="button button--alt button--alt--blue button--narrow button--small">
              Bekijk volledige inhoud <i class="vi vi-arrow vi-u-s button__icon"></i>
            </LinkTo>
          {{/if}}
        </div>
      </div>
    </div>
{{else if uittreksel.inhoud}}
    <div>
      <div class="info-tile {{unless uittreksel "u-background--gray-lightest"}}">
        <div class="info-tile__header__wrapper">
          <div class="grid">
            <div class="col--8-12 vrije-tekst">
              {{{uittreksel.inhoud}}}
              <p class="info-tile__header__subtitle text-fade">Geen korte beschrijving.</p>
            </div>
            <div class="col--4-12 u-align-right u-padding--right--small">
              {{#if uittreksel.inhoud}}
                <LinkTo @route="bestuurseenheid.zitting.uittreksels.detail" @model={{uittreksel.id}} class="button button--alt button--alt--blue button--narrow button--small">
                  Bekijk volledige inhoud <i class="vi vi-arrow vi-u-s button__icon"></i>
                </LinkTo>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/with-rdfa-context}}
{{/if}}

{{yield}}
