{{#let (format-date this.zitting.gestartOpTijdstip 'd MMMM yyyy, HH:mm') as |startDate|}}
  {{page-title (concat
    this.zitting.bestuursorgaan.isTijdsspecialisatieVan.naam
    ", zitting van "
    startDate
    )}}
{{/let}}
<div class="au-o-region-large">
  <div class="au-o-layout">
    <WithRdfaContext @model={{this.zitting}} as |ctx|>
      <AuHeading @skin="2" class="au-u-margin-bottom">
        Publicaties voor de zitting van
        <ctx.span @prop="bestuursorgaan" as |orgaan boCtx|>
          <boCtx.span @prop="isTijdsspecialisatieVan" as |tijdspec itsvCtx|>
            <itsvCtx.get @prop="naam" />
          </boCtx.span>
        </ctx.span>
        <br>
        op
        <ctx.span @prop="geplandeStart" as |value|>
          {{format-date value 'd MMMM yyyy, HH:mm'}}
        </ctx.span>
      </AuHeading>
        <ul class="au-c-steps">
          <li class="au-c-steps__item">
            {{#if this.zitting.notulen}}
            <div class="au-o-box au-c-card au-c-card--flex au-c-card--link">
              <div class="au-c-card__header">
                <AuBadge @icon="draft" @skin="brand" />
                <div>
                  <AuHeading @level="2" @skin="4">Notulen</AuHeading>
                </div>
                <span class="au-u-hidden-visually">
                  <a href={{href-to "bestuurseenheid.zittingen.zitting.notulen" this.zitting.id}} property="lblodBesluit:linkToPublication" tabindex="-1">
                    <ctx.get @prop="notulen" />
                  </a>
                </span>
                <LinkTo @route="bestuurseenheid.zittingen.zitting.notulen" @model={{this.zitting.id}} class="au-c-card__link">
                  <span class="au-u-hidden-visually">Bekijk notulen</span>
                  <AuIcon @icon="nav-right" @size="large" />
                </LinkTo>
              </div>
            </div>
            {{else}}
            <div class="au-o-box au-c-card au-c-card--flex">
              <div class="au-c-card__header">
                <AuBadge @icon="info-circle" />
                <AuHeading @level="2" @skin="4">Notulen niet publiek</AuHeading>
              </div>
            </div>
            {{/if}}
          </li>


          {{!-- @Miet -> Currently a soon as besluitenlijst or bekendmaking is published, this option will pop up.
                  Backend needs update I guess to deal with the correct condition --}}

          <li class="au-c-steps__item">
            {{#if this.zitting.uittreksels.length}}
            <div class="au-o-box au-c-card au-c-card--flex au-c-card--link">
              <div class="au-c-card__header">
                <AuBadge @icon="draft" @skin="brand" />
                <div>
                  <AuHeading @level="2" @skin="4">Bekendmakingen en uittreksels</AuHeading>
                </div>
                <span class="au-u-hidden-visually">
                  <ctx.each.get @prop="uittreksels" />
                  {{!-- This is not ideal --}}
                  <ctx.each.a @prop="uittreksels" @link-to="bestuurseenheid.zittingen.zitting.uittreksels.detail.raw" @property="lblodBesluit:linkToPublication" @overrideUri={{true}} tabindex="-1" />
                </span>
                <LinkTo @route="bestuurseenheid.zittingen.zitting.uittreksels" @model={{this.zitting.id}} class="au-c-card__link">
                  <span class="au-u-hidden-visually">Bekijk bekendmakingen en uittreksels</span>
                  <AuIcon @icon="nav-right" @size="large" />
                </LinkTo>
              </div>
            </div>
            {{else}}
            <div class="au-o-box au-c-card au-c-card--flex">
              <div class="au-c-card__header">
                <AuBadge @icon="info-circle" />
                <AuHeading @level="2" @skin="4">Bekendmakingen en uittreksels niet publiek</AuHeading>
              </div>
            </div>
            {{/if}}
          </li>

          <li class="au-c-steps__item">
            {{#if this.zitting.besluitenlijst.id}}
            <div class="au-o-box au-c-card au-c-card--flex au-c-card--link">
              <div class="au-c-card__header">
                <AuBadge @icon="draft" @skin="brand" />
                <div>
                  <AuHeading @level="2" @skin="4">Besluitenlijst</AuHeading>
                </div>
                <span class="au-u-hidden-visually">
                  <a href={{href-to "bestuurseenheid.zittingen.zitting.besluitenlijst" this.zitting.id}} property="lblodBesluit:linkToPublication" tabindex="-1">
                    <ctx.get @prop="besluitenlijst" />
                  </a>
                </span>
                <LinkTo @route="bestuurseenheid.zittingen.zitting.besluitenlijst" @model={{this.zitting.id}} class="au-c-card__link">
                  <span class="au-u-hidden-visually">Bekijk besluitenlijst</span>
                  <AuIcon @icon="nav-right" @size="large" />
                </LinkTo>
              </div>
            </div>
            {{else}}
            <div class="au-o-box au-c-card au-c-card--flex">
              <div class="au-c-card__header">
                <AuBadge @icon="info-circle" />
                <AuHeading @level="2" @skin="4">Besluitenlijst niet publiek</AuHeading>
              </div>
            </div>
            {{/if}}
          </li>

          <li class="au-c-steps__item">
            {{#if this.zitting.agenda.id}}
            <div class="au-o-box au-c-card au-c-card--flex au-c-card--link">
              <div class="au-c-card__header">
                <AuBadge @icon="draft" @skin="brand" />
                <div>
                  <AuHeading @level="2" @skin="4">Agenda</AuHeading>
                </div>
                <LinkTo @route="bestuurseenheid.zittingen.zitting.agenda" @model={{this.zitting.id}} class="au-c-card__link" property="lblodBesluit:linkToPublication">
                  <span class="au-u-hidden-visually">Bekijk agenda</span>
                  <AuIcon @icon="nav-right" @size="large" />
                </LinkTo>
              </div>
            </div>
            {{else}}
            <div class="au-o-box au-c-card au-c-card--flex">
              <div class="au-c-card__header">
                <AuBadge @icon="info-circle" />
                <AuHeading @level="2" @skin="4">Agenda niet publiek</AuHeading>
              </div>
            </div>
            {{/if}}
          </li>
        </ul>
    </WithRdfaContext>

    {{outlet}}
  </div>
</div>
