<div class="container-flex--scroll u-padding--round--small">
  <div class="grid grid--align-center">
    <div typeof="besluit:Zitting" resource={{this.zitting.uri}} class="col--8-12 col--1-1--s">
      <h1 class="h1 u-spacer--top--small">
        Publicaties voor de zitting van
        <span resource={{this.zitting.bestuursorgaan.uri}} typeof="besluit:Bestuursorgaan" property="besluit:isGehoudenDoor">
          <span resource={{this.zitting.bestuursorgaan.isTijdsspecialisatieVan.uri}} typeof="besluit:Bestuursorgaan" property="mandaat:isTijdspecialisatieVan">
            <span property="skos:prefLabel">{{this.zitting.bestuursorgaan.isTijdsspecialisatieVan.naam}}</span>
          </span>
        </span>
        <br>
        op
        <span property="besluit:geplandeStart" content={{iso-date this.zitting.geplandeStart}} datatype="xsd:dateTime">{{moment-format this.zitting.geplandeStart 'D MMMM YYYY, HH:mm'}}</span>
      </h1>

      <ul class="steps steps--timeline">
        {{#if this.zitting.notulen}}
          <LinkTo @route="bestuurseenheid.zitting.notulen" @model={{this.zitting.id}} @tagName="li" class="step">
            <div class="step__icon">
              {{#if this.notulenPublicationDate}}
                {{moment-format this.notulenPublicationDate 'D'}}
                <span class="step__icon__sub">{{moment-format this.notulenPublicationDate 'MMM'}}</span>
              {{else}}
                <i class="vi vi-news"></i>
              {{/if}}
            </div>
            <div class="step__wrapper">
              <div class="step__header">
                <div class="step__header__titles">
                  <h2 class="step__title">Notulen</h2>
                  <span class="u-hidden">
                    <a href={{href-to "bestuurseenheid.zitting.notulen" this.zitting.id}} property="lblodBesluit:linkToPublication">
                      <span resource={{this.model.notulen.uri}} typeof="foaf:Document" property="besluit:heeftNotulen"/>
                    </a>
                  </span>
                </div>
                <div class="step__header__info">
                  <i class="vi vi-arrow"></i>
                </div>
              </div>
            </div>
          </LinkTo>
        {{else}}
          <li class="step step--disabled">
            <div class="step__icon">
              <i class="vi vi-clock"></i>
            </div>
            <div class="step__wrapper">
              <div class="step__header">
                <div class="step__header__titles">
                  <h2 class="step__title">Notulen niet publiek</h2>
                </div>
              </div>
            </div>
          </li>
        {{/if}}

        {{!-- @Miet -> Currently a soon as besluitenlijst or bekendmaking is published, this option will pop up.
               Backend needs update I guess to deal with the correct condition --}}

        {{#if this.zitting.uittreksels.length}}
          <LinkTo @route="bestuurseenheid.zitting.uittreksels" @model={{this.zitting.id}} @tagName="li" class="step">
            <div class="step__icon">
              {{!-- TODO: provide correct field --}}
              {{#if this.besluitenlijstPublicationDate}}
                {{moment-format this.besluitenlijstPublicationDate 'D'}}
                <span class="step__icon__sub">{{moment-format this.besluitenlijstPublicationDate 'MMM'}}</span>
              {{else}}
                <i class="vi vi-news"></i>
              {{/if}}
            </div>
            <div class="step__wrapper">
              <div class="step__header">
                <div class="step__header__titles">
                  <h3 class="step__title">Bekendmakingen en uittreksels</h3>
                  <span  class="u-hidden">
                    {{#each this.zitting.uittreksels as |uittreksel|}}
                      <a href={{href-to "bestuurseenheid.zitting.uittreksels.detail.raw" this.zitting.id}} property="lblodBesluit:linkToPublication">
                        <span resource={{uittreksel.uri}} typeof="foaf:Document" property="besluit:heeftUittreksel"/>
                      </a>
                    {{/each}}
                  </span>
                </div>
                <div class="step__header__info">
                  <i class="vi vi-arrow"></i>
                </div>
              </div>
            </div>
          </LinkTo>
        {{else}}
          <li class="step step--disabled">
            <div class="step__icon">
              <i class="vi vi-clock"></i>
            </div>
            <div class="step__wrapper">
              <div class="step__header">
                <div class="step__header__titles">
                  <h3 class="step__title">Bekendmakingen en uittreksels niet publiek</h3>
                </div>
              </div>
            </div>
          </li>
        {{/if}}

        {{#if this.zitting.besluitenlijst.id}}
          <LinkTo @route="bestuurseenheid.zitting.besluitenlijst" @model={{this.zitting.id}} @tagName="li" class="step">
            <div class="step__icon">
              {{#if this.besluitenlijstPublicationDate}}
                {{moment-format this.besluitenlijstPublicationDate 'D'}}
                <span class="step__icon__sub">{{moment-format this.besluitenlijstPublicationDate 'MMM'}}</span>
              {{else}}
                <i class="vi vi-news"></i>
              {{/if}}
            </div>
            <div class="step__wrapper">
              <div class="step__header">
                <div class="step__header__titles">
                  <h2 class="step__title">Besluitenlijst</h2>
                  <span  class="u-hidden">
                    <a href={{href-to "bestuurseenheid.zitting.besluitenlijst" this.zitting.id}} property="lblodBesluit:linkToPublication">
                      <span resource={{this.zitting.besluitenlijst.uri}} typeof="foaf:Document" property="besluit:heeftBesluitenlijst"/>
                    </a>
                  </span>
                </div>
                <div class="step__header__info">
                  <i class="vi vi-arrow"></i>
                </div>
              </div>
            </div>
          </LinkTo>
        {{else}}
          <li class="step step--disabled">
            <div class="step__icon">
              <i class="vi vi-clock"></i>
            </div>
            <div class="step__wrapper">
              <div class="step__header">
                <div class="step__header__titles">
                  <h3 class="step__title">Besluitenlijst niet publiek</h3>
                </div>
              </div>
            </div>
          </li>
        {{/if}}


        {{#if this.zitting.agenda.id}}
          <LinkTo @route="bestuurseenheid.zitting.agenda" @model={{this.zitting.id}} @tagName="li" class="step">
            <div class="step__icon">
              {{#if this.agendaPublicationDate}}
                {{moment-format this.agendaPublicationDate 'D'}}
                <span class="step__icon__sub">{{moment-format this.agendaPublicationDate 'MMM'}}</span>
              {{else}}
                <i class="vi vi-news"></i>
              {{/if}}
            </div>
            <div class="step__wrapper">
              <div class="step__header">
                <div class="step__header__titles">
                  <h2 class="step__title">Agenda</h2>
                  <span  class="u-hidden">
                    {{#each this.zitting.agendas as |agenda|}}
r                      <a href={{href-to "bestuurseenheid.zitting.agenda.raw" this.zitting.id}} property="lblodBesluit:linkToPublication">
                        <span resource={{agenda.uri}} typeof="foaf:Document" property="besluit:heeftAgenda"/>
                      </a>
                    {{/each}}
                  </span>
                </div>
                <div class="step__header__info">
                  <i class="vi vi-arrow"></i>
                </div>
              </div>
            </div>
          </LinkTo>
        {{else}}
          <li class="step step--disabled">
            <div class="step__icon">
              <i class="vi vi-clock"></i>
            </div>
            <div class="step__wrapper">
              <div class="step__header">
                <div class="step__header__titles">
                  <h2 class="step__title">Agenda niet publiek</h2>
                </div>
              </div>
            </div>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</div>

{{outlet}}
