<div class="container-flex--scroll u-padding--round--small">
  <div class="grid grid--align-center">
    <WithRdfaContext @model={{model}} @class="col--8-12 col--1-1--s" as |ctx|>
      <h1 class="h1 u-spacer--top--small">
        Publicaties voor de zitting van
        <ctx.get @prop="bestuursorgaan" as |elements _ bInTimeCtx|>
          <span {{rdfa elements}}>
            <bInTimeCtx.get @prop="isTijdsspecialisatieVan" as |elements _ bCtx|>
              <span {{rdfa elements}}>
                <bCtx.get @prop="naam" />
              </span>
            </bInTimeCtx.get>
          </span>
        </ctx.get>
        <br>
        op
        <ctx.get @prop="geplandeStart" as |elements value|>
          <span {{rdfa elements}}>{{moment-format value 'D MMMM YYYY, HH:mm'}}</span>
        </ctx.get>
      </h1>

      <ul class="steps steps--timeline">
        {{#if model.notulen}}
          <LinkTo @route="bestuurseenheid.zitting.notulen" @model={{model.id}} @tagName="li" class="step">
            <div class="step__icon">
              {{#if notulenPublicationDate}}
                {{moment-format notulenPublicationDate 'D'}}
                <span class="step__icon__sub">{{moment-format notulenPublicationDate 'MMM'}}</span>
              {{else}}
                <i class="vi vi-news"></i>
              {{/if}}
            </div>
            <div class="step__wrapper">
              <div class="step__header">
                <div class="step__header__titles">
                  <h3 class="step__title">Notulen</h3>
                  <span  class="u-hidden">
                    <ctx.get @prop="notulen" @href-to={{href-to "bestuurseenheid.zitting.notulen" model.id}} />
                  </span>
                </div>
                <div class="step__header__info">
                  <i class="vi vi-arrow"></i>
                </div>
              </div>
            </div>
          </LinkTo>
        {{else}}
          <li class="step step--disabled">
            <div class="step__icon">
              <i class="vi vi-clock"></i>
            </div>
            <div class="step__wrapper">
              <div class="step__header">
                <div class="step__header__titles">
                  <h3 class="step__title">Notulen niet publiek</h3>
                </div>
              </div>
            </div>
          </li>
        {{/if}}

        {{!-- @Miet -> Currently a soon as besluitenlijst or bekendmaking is published, this option will pop up.
               Backend needs update I guess to deal with the correct condition --}}

        {{#if model.uittreksels.length}}
          <LinkTo @route="bestuurseenheid.zitting.uittreksels" @model={{model.id}} @tagName="li" class="step">
            <div class="step__icon">
              {{!-- TODO: provide correct field --}}
              {{#if besluitenlijstPublicationDate}}
                {{moment-format besluitenlijstPublicationDate 'D'}}
                <span class="step__icon__sub">{{moment-format besluitenlijstPublicationDate 'MMM'}}</span>
              {{else}}
                <i class="vi vi-news"></i>
              {{/if}}
            </div>
            <div class="step__wrapper">
              <div class="step__header">
                <div class="step__header__titles">
                  <h3 class="step__title">Bekendmakingen en uittreksels</h3>
                  <span  class="u-hidden">
                    <ctx.each @prop="uittreksels" @link-to="bestuurseenheid.zitting.uittreksels.detail.raw" />
                  </span>
                </div>
                <div class="step__header__info">
                  <i class="vi vi-arrow"></i>
                </div>
              </div>
            </div>
          </LinkTo>
        {{else}}
          <li class="step step--disabled">
            <div class="step__icon">
              <i class="vi vi-clock"></i>
            </div>
            <div class="step__wrapper">
              <div class="step__header">
                <div class="step__header__titles">
                  <h3 class="step__title">Bekendmakingen en uittreksels niet publiek</h3>
                </div>
              </div>
            </div>
          </li>
        {{/if}}

        {{#if model.besluitenlijst.id}}
          <LinkTo @route="bestuurseenheid.zitting.besluitenlijst" @model={{model.id}} @tagName="li" class="step">
            <div class="step__icon">
              {{#if besluitenlijstPublicationDate}}
                {{moment-format besluitenlijstPublicationDate 'D'}}
                <span class="step__icon__sub">{{moment-format besluitenlijstPublicationDate 'MMM'}}</span>
              {{else}}
                <i class="vi vi-news"></i>
              {{/if}}
            </div>
            <div class="step__wrapper">
              <div class="step__header">
                <div class="step__header__titles">
                  <h3 class="step__title">Besluitenlijst</h3>
                  <span  class="u-hidden">
                    <ctx.get @prop="besluitenlijst" @href-to={{href-to "bestuurseenheid.zitting.besluitenlijst" model.id}} />
                  </span>
                </div>
                <div class="step__header__info">
                  <i class="vi vi-arrow"></i>
                </div>
              </div>
            </div>
          </LinkTo>
        {{else}}
          <li class="step step--disabled">
            <div class="step__icon">
              <i class="vi vi-clock"></i>
            </div>
            <div class="step__wrapper">
              <div class="step__header">
                <div class="step__header__titles">
                  <h3 class="step__title">Besluitenlijst niet publiek</h3>
                </div>
              </div>
            </div>
          </li>
        {{/if}}


        {{#if model.agenda.id}}
          <LinkTo @route="bestuurseenheid.zitting.agenda" @model={{model.id}} @tagName="li" class="step">
            <div class="step__icon">
              {{#if agendaPublicationDate}}
                {{moment-format agendaPublicationDate 'D'}}
                <span class="step__icon__sub">{{moment-format agendaPublicationDate 'MMM'}}</span>
              {{else}}
                <i class="vi vi-news"></i>
              {{/if}}
            </div>
            <div class="step__wrapper">
              <div class="step__header">
                <div class="step__header__titles">
                  <h3 class="step__title">Agenda</h3>
                  <span  class="u-hidden">
                    <ctx.each @prop="agendas" @href-to={{href-to "bestuurseenheid.zitting.agenda.raw" model.id}} />
                  </span>
                </div>
                <div class="step__header__info">
                  <i class="vi vi-arrow"></i>
                </div>
              </div>
            </div>
          </LinkTo>
        {{else}}
          <li class="step step--disabled">
            <div class="step__icon">
              <i class="vi vi-clock"></i>
            </div>
            <div class="step__wrapper">
              <div class="step__header">
                <div class="step__header__titles">
                  <h3 class="step__title">Agenda niet publiek</h3>
                </div>
              </div>
            </div>
          </li>
        {{/if}}
      </ul>
    </WithRdfaContext>
  </div>
</div>

{{outlet}}
