{{#let (format-date this.model.zitting.gestartOpTijdstip 'd MMMM yyyy, HH:mm') as |startDate|}}
  {{page-title (concat
    "Notulen van "
    this.model.zitting.bestuursorgaan.isTijdsspecialisatieVan.naam
    ", zitting van "
    startDate
    )}}
{{/let}}
<div class="au-o-layout au-c-document-publish">
  <a class="au-u-hidden" href="http://data.lblod.info/id/document-types/notulen" property="dct:type"></a>

  <div class="au-o-region-large" property="prov:value">
    <div resource={{this.model.zitting.uri}} typeof="besluit:Zitting">
      <div property="besluit:heeftNotulen" resource={{this.model.notulen.uri}}>
        <p class="au-c-heading au-c-heading--5">
          Datum publicatie:
          {{#if this.model.notulen.publication.createdOn}}
            <span property="eli:date_publication" content={{format-date this.model.notulen.publication.createdOn 'yyyy-MM-dd'}} datatype="xsd:date">
              {{format-date this.model.notulen.publication.createdOn 'd MMMM yyyy'}}
            </span>
          {{else}}
            {{!-- old data does not have this field --}}
            ongekend
          {{/if}}
        </p>
        <div property="prov:value">
          {{html-safe this.model.notulen.inhoud}}
        </div>
      </div>
    </div>
  </div>
</div>
{{outlet}}
