{{breadcrumb "Notulen" route="bestuurseenheid.zitting.notulen"}}
{{#let (format-date this.model.gestartOpTijdstip 'd MMMM yyyy, HH:mm') as |startDate|}}
  {{page-title (concat
    "Notulen van "
    this.model.bestuursorgaan.isTijdsspecialisatieVan.naam
    ", zitting van "
    startDate
    )}}
{{/let}}
<div class="au-o-layout au-c-document-publish">
  <a class="au-u-hidden" href="http://data.lblod.info/id/document-types/notulen" property="dct:type"></a>

  <div class="au-o-region-large">
    <WithRdfaContext @model={{this.model}} as |ctx|>
      <ctx.div @prop="notulen" as |notulen notctx|>
        <p class="au-c-heading au-c-heading--5">
          Datum publicatie:
          {{#if this.model.notulen.publication.createdOn}}
            <notctx.span @prop="publication" as |_ pubctx|>
              <pubctx.span @prop="createdOn" as |createdOn|>{{format-date createdOn 'd MMMM yyyy'}}</pubctx.span>
            </notctx.span>
          {{else}}
            {{!-- old data does not have this field --}}
            ongekend
          {{/if}}
        </p>
        <notctx.div @prop="inhoud" as |inhoud|>{{html-safe inhoud}}</notctx.div>
      </ctx.div>
    </WithRdfaContext>
  </div>
</div>
{{outlet}}
