<div class="au-o-layout">
    <div typeof="besluit:Zitting" resource={{this.model.zitting.uri}} class="au-o-region-large">
      <AuHeading @skin="2" class="au-u-margin-bottom">
        Uittreksel van
        <span resource={{this.model.zitting.bestuursorgaan.uri}} typeof="besluit:Bestuursorgaan" property="besluit:isGehoudenDoor">
          <span resource={{this.model.zitting.bestuursorgaan.isTijdsspecialisatieVan.uri}} typeof="besluit:Bestuursorgaan" property="mandaat:isTijdspecialisatieVan">
            <span property="skos:prefLabel">
              {{this.model.zitting.bestuursorgaan.isTijdsspecialisatieVan.naam}}
            </span>
          </span>
        </span>
        , zitting van
        <span property="besluit:geplandeStart" content={{iso-date this.model.zitting.geplandeStart}} datatype="xsd:dateTime">{{moment-format this.model.zitting.geplandeStart 'D MMMM YYYY, HH:mm'}}</span>
      </AuHeading>

      <div class="au-u-margin-top">
        {{#if this.model.uittreksel.inhoud}}
          <div property="besluit:heeftUittreksel" resource={{this.model.uittreksel.uri}} typeof="foaf:Document https://data.vlaanderen.be/id/concept/BesluitDocumentType/9d5bfaca-bbf2-49dd-a830-769f91a6377b">
            <div property="prov:value">
              {{html-safe this.model.uittreksel.inhoud}}
            </div>
          </div>
        {{else}}
          <p>Inhoud niet beschikbaar.</p>
        {{/if}}
      </div>
    </div>
</div>
