<div class="container-flex--scroll u-padding--round">
    <div typeof="besluit:Zitting" resource={{model.zitting.uri}}>
      <h1 class="h1 u-spacer--top--small">
        Uittreksel van
        <span resource={{model.zitting.bestuursorgaan.uri}} typeof="besluit:Bestuursorgaan" property="besluit:isGehoudenDoor">
          <span resource={{model.zitting.bestuursorgaan.isTijdsspecialisatieVan.uri}} typeof="besluit:Bestuursorgaan" property="mandaat:isTijdspecialisatieVan">
            <span property="skos:prefLabel">
              {{model.zitting.bestuursorgaan.isTijdsspecialisatieVan.naam}}
            </span>
          </span>
        </span>
        , zitting van
        <span class="u-spacer--tiny" property="besluit:geplandeStart" content={{iso-date model.zitting.geplandeStart}} datatype="xsd:dateTime">{{moment-format model.zitting.geplandeStart 'D MMMM YYYY, HH:mm'}}</span>
      </h1>

      <div class="col--7-12 col--9-12--m col--1-1--s u-padding--bottom--large">
        <div class="grid grid--is-stacked">
          {{#if model.uittreksel.inhoud}}
            <div property="besluit:heeftUittreksel" resource={{model.uittreksel.uri}} typeof="foaf:Document https://data.vlaanderen.be/id/concept/BesluitDocumentType/9d5bfaca-bbf2-49dd-a830-769f91a6377b">
              <div property="prov:value">
                {{{model.uittreksel.inhoud}}}
              </div>
            </div>
          {{else}}
            Inhoud niet beschikbaar.
          {{/if}}
        </div>
      </div>
    </div>
</div>
