<div class="info-tile {{unless this.uittreksel "u-background--gray-lightest"}}">
  <div class="grid">
    <div class="col--8-12">
      <h2 property="dct:title" class="list-content">{{clean-spaces @agendapunt.titel}}</h2>
      {{#if @agendapunt.beschrijving}}
        <p property="dct:description">{{clean-spaces @agendapunt.beschrijving}}</p>
      {{/if}}
      <span property="besluit:geplandOpenbaar" content={{@agendapunt.geplandOpenbaar}} class="u-hidden"></span>
      {{#unless this.uittreksel.inhoud}}
        <p class="smallest text-fade uppercase u-spacer--top--tiny">Inhoud niet publiek</p>
      {{/unless}}
    </div>
    <div class="col--4-12 u-align-right">
      {{#if this.uittreksel.inhoud}}
        <LinkTo @route="bestuurseenheid.zitting.uittreksels.detail" @model={{this.uittreksel.id}} @tagName="button" property="lblodBesluit:linkToPublication" class="button button--alt button--alt--blue button--narrow button--small">
          Bekijk volledige inhoud <i class="vi vi-arrow vi-u-s button__icon"></i>
        </LinkTo>
      {{/if}}
    </div>
  </div>
</div>