<div class="au-o-box au-c-card {{unless this.uittreksel "au-c-card--standout"}}">
  <div class="au-c-card__header">
    <div class="au-o-grid au-o-grid--small">
      <div class="au-o-grid__item au-u-3-4@medium">
        <WithRdfaContext @model={{@agendapunt}} as |agCtx|>
          <h2 class="au-c-heading--4" >
            {{inc @index}}.
            <agCtx.get @prop="titel" as |elements|>
              <span {{rdfa elements}}>{{clean-spaces @agendapunt.titel}}</span>
            </agCtx.get>
          </h2>
          {{#if @agendapunt.type}}
            <agCtx.get @prop="type" as |elements _ tCtx|>
              <span {{rdfa elements}} class="au-u-hidden-visually">
                <tCtx.get @prop="label" />
              </span>
            </agCtx.get>
          {{/if}}
          {{#if @agendapunt.beschrijving}}
            <agCtx.get @prop="beschrijving" as |elements beschrijving|>
              <p {{rdfa elements}} class="au-c-help-text--secondary">{{clean-spaces beschrijving}}</p>
            </agCtx.get>
          {{/if}}
          <agCtx.get @prop="geplandOpenbaar" class="au-u-hidden" />
        </WithRdfaContext>
        {{#unless this.uittreksel.inhoud}}
          <p>
            <AuHelpText @skin="secondary">Inhoud niet publiek</AuHelpText>
          </p>
        {{/unless}}
      </div>
      <div class="au-o-grid__item au-u-1-4@medium">
        {{#if this.uittreksel.inhoud}}
        <AuLink @route="bestuurseenheid.zitting.uittreksels.detail" @model={{this.uittreksel.id}} property="lblodBesluit:linkToPublication" @skin="button" @icon="nav-right" @iconAlignment="right">
          Bekijk volledige inhoud
        </AuLink>
        {{/if}}
      </div>
    </div>
  </div>
</div>
