<div class="au-o-box au-c-card {{unless this.uittreksel "au-c-card--standout"}}">
  <div class="au-c-card__header">
    <div class="au-o-grid au-o-grid--small">
      <div class="au-o-grid__item au-u-3-4@medium">
        <AuHeading @level="2" @skin="4" property="dct:title">
            {{clean-spaces @agendapunt.titel}}
            {{#if @agendapunt.type}}
                <span property="besluit:Agendapunt.type" style='display: none;' resource="{{@agendapunt.type.uri}}" typeof="skos:Concept">{{@agendapunt.type.label}}</span>
            {{/if}}
        </AuHeading>
        {{#if @agendapunt.beschrijving}}
          <p property="dct:description">
            <AuHelpText @skin="secondary">{{clean-spaces @agendapunt.beschrijving}}</AuHelpText>
          </p>
        {{/if}}
        <span property="besluit:geplandOpenbaar" content={{@agendapunt.geplandOpenbaar}} class="au-u-hidden"></span>
        {{#unless this.uittreksel.inhoud}}
          <p>
            <AuHelpText @skin="secondary">Inhoud niet publiek</AuHelpText>
          </p>
        {{/unless}}
      </div>
      <div class="au-o-grid__item au-u-1-4@medium">
        {{#if this.uittreksel.inhoud}}
          <LinkTo @route="bestuurseenheid.zitting.uittreksels.detail" @model={{this.uittreksel.id}} property="lblodBesluit:linkToPublication" class="au-c-button au-c-button--block">
            Bekijk volledige inhoud
            <AuIcon @icon="nav-right" @alignment="right" />
          </LinkTo>
        {{/if}}
      </div>
    </div>
  </div>
</div>