<div class="au-o-box au-c-card {{unless this.uittreksel "au-c-card--standout"}}">
  <div class="au-c-card__header">
    <div class="au-o-grid au-o-grid--small">
      <div class="au-o-grid__item au-u-3-4@medium">
        <WithRdfaContext @model={{@agendapunt}} as |agCtx|>
          <h2 class="au-c-heading--4" >
            {{inc @index}}.
            <agCtx.spawn.span @prop="titel" as |titel|>{{clean-spaces titel}}</agCtx.spawn.span>
          </h2>
          {{#if @agendapunt.type}}
            <agCtx.spawn.span @prop="type" class="au-u-hidden-visually" as |_ tCtx|>
              <tCtx.get @prop="label" />
            </agCtx.spawn.span>
          {{/if}}
          {{#if @agendapunt.beschrijving}}
            <agCtx.spawn.p @prop="beschrijving" class="au-c-help-text--secondary" as |beschrijving|>{{clean-spaces beschrijving}}</agCtx.spawn.p>
          {{/if}}
          <agCtx.get @prop="geplandOpenbaar" class="au-u-hidden" />
        </WithRdfaContext>
        {{#unless this.uittreksel.inhoud}}
          <p>
            <AuHelpText @skin="secondary">Inhoud niet publiek</AuHelpText>
          </p>
        {{/unless}}
      </div>
      <div class="au-o-grid__item au-u-1-4@medium">
        {{#if this.uittreksel.inhoud}}
        <AuLink @route="bestuurseenheid.zitting.uittreksels.detail" @model={{this.uittreksel.id}} property="lblodBesluit:linkToPublication" @skin="button" @icon="nav-right" @iconAlignment="right">
          Bekijk volledige inhoud
        </AuLink>
        {{/if}}
      </div>
    </div>
  </div>
</div>
