<WithRdfaContext @model={{@besluit}} class="au-o-box au-c-card au-c-card--divided" as |bCtx|>
  <div class="au-c-card__header">
    <bCtx.get @prop="volgendUitBehandelingVanAgendapunt" @property="prov:wasGeneratedBy" as |elements|>
      <link {{rdfa elements}} />
    </bCtx.get>
    <bCtx.get @prop="titel" as |elements titel|>
      <h3 {{rdfa elements}} class="au-c-heading au-c-heading--4">{{clean-spaces titel}}</h3>
    </bCtx.get>
  </div>
  <div class="au-c-card__content">
    <div class="au-o-grid au-o-grid--small">
      <div class="au-o-grid__item au-u-3-4@medium">
        {{#if @besluit.beschrijving}}
          <bCtx.get @prop="beschrijving" as |elements beschrijving|>
            <p {{rdfa elements}} class="au-c-help-text">{{beschrijving}}</p>
          </bCtx.get>
        {{else}}
          <p class="au-c-help-text au-c-help-text--secondary">Korte beschrijving niet gevonden</p>
        {{/if}}
        {{#unless this.uittreksel}}
          <p class="sau-c-help-text au-c-help-text--tertiary">Volledige inhoud niet publiek</p>
        {{/unless}}
        {{#if this.stemmingen.length}}
          <h3 class="au-c-heading au-c-heading--5 au-u-margin-top-small">Stemmingen</h3>
          <bCtx.get @prop="volgendUitBehandelingVanAgendapunt" as |elements _ bvaCtx|>
            <bvaCtx.each @prop="stemmingen" as |elements stemming stmCtx|>
              <p {{rdfa elements}}>
                <strong>Onderwerp:</strong>
                <stmCtx.get @prop="onderwerp" />
                <strong>Gevolg:</strong>
                <stmCtx.get @prop="gevolg" />
              </p>
            </bvaCtx.each>
          </bCtx.get>
        {{/if}}
      </div>
      <div class="au-o-grid__item au-u-1-4@medium">
        {{#if this.uittreksel}}
        <AuLink @route="bestuurseenheid.zitting.uittreksels.detail" @model={{this.uittreksel.id}} property="lblodBesluit:linkToPublication" @skin="button" @icon="nav-right" @iconAlignment="right">
          Bekijk volledige inhoud
        </AuLink>
        {{/if}}
      </div>
    </div>
  </div>
</WithRdfaContext>
