{{#if this.fastboot.isFastBoot}}
  {{html-safe @besluitenlijst.inhoud}}
{{else}}
  <WithRdfaContext @model={{@zitting}} as |zCtx|>
    <AuHeading @skin="2" class="au-u-margin-bottom">Besluitenlijst van
      <zCtx.get @prop="bestuursorgaan" as |elements _ boCtx|>
        <span {{rdfa elements}}>
          <boCtx.get @prop="isTijdsspecialisatieVan" as |elements _ itsvCtx|>
            <span {{rdfa elements}}>
              <itsvCtx.get @prop="naam" />
            </span>
          </boCtx.get>
        </span>
      </zCtx.get>
      , zitting van
      {{#if @zitting.gestartOpTijdstip}}
        <zCtx.get @prop="gestartOpTijdstip" as |elements gestartOpTijdstip|>
          <span {{rdfa elements}}>{{format-date gestartOpTijdstip 'd MMMM yyyy, HH:mm'}}</span>
        </zCtx.get>
      {{else}}
        {{!-- fallback for old data --}}
        <zCtx.get @prop="geplandeStart" as |elements geplandeStart|>
          <span {{rdfa elements}}>{{format-date geplandeStart 'd MMMM yyyy, HH:mm'}}</span>
        </zCtx.get>
      {{/if}}
    </AuHeading>
    <ul class="au-c-list au-u-margin-top">
      {{#each @besluiten as |besluit|}}
        <li class="au-c-list__item">
          <BesluitOverviewItem @besluit={{besluit}} />
        </li>
      {{/each}}
      {{#each this.extraBesluiten as |besluit|}}
        {{!-- using an extra array so the first one above renders properly with fastboot --}}
        <li class="au-c-list__item">
          <BesluitOverviewItem @besluit={{besluit}} />
        </li>
      {{/each}}
    </ul>
    {{#if this.fetchBesluiten.isRunning}}
      <AuLoader />
    {{/if}}
    {{#if this.hasNext}}
      <AuButton class="au-u-margin-top" {{on "click" (perform this.fetchBesluiten this.nextPage)}}>
        Meer laden
      </AuButton>
    {{/if}}
  </WithRdfaContext>
{{/if}}
