{{#if this.fastboot.isFastBoot}}
  {{html-safe @besluitenlijst.inhoud}}
{{else}}
  <WithRdfaContext @model={{@zitting}} as |zCtx|>
    <AuHeading @skin="2" class="au-u-margin-bottom">Besluitenlijst van
      <zCtx.spawn.span @prop="bestuursorgaan" as |_ boCtx|>
        <boCtx.spawn.span @prop="isTijdsspecialisatieVan" as |_ itsvCtx|>
          <itsvCtx.get @prop="naam" />
        </boCtx.spawn.span>
      </zCtx.spawn.span>
      , zitting van
      {{#if @zitting.gestartOpTijdstip}}
        <zCtx.spawn.span @prop="gestartOpTijdstip" as |gestartOpTijdstip|>{{format-date gestartOpTijdstip 'd MMMM yyyy, HH:mm'}}</zCtx.spawn.span>
      {{else}}
        {{!-- fallback for old data --}}
        <zCtx.spawn.span @prop="geplandeStart" as |elements geplandeStart|>{{format-date geplandeStart 'd MMMM yyyy, HH:mm'}}</zCtx.spawn.span>
      {{/if}}
    </AuHeading>
    <ul class="au-c-list au-u-margin-top">
      {{#each @besluiten as |besluit|}}
        <li class="au-c-list__item">
          <BesluitOverviewItem @besluit={{besluit}} />
        </li>
      {{/each}}
      {{#each this.extraBesluiten as |besluit|}}
        {{!-- using an extra array so the first one above renders properly with fastboot --}}
        <li class="au-c-list__item">
          <BesluitOverviewItem @besluit={{besluit}} />
        </li>
      {{/each}}
    </ul>
    {{#if this.fetchBesluiten.isRunning}}
      <AuLoader />
    {{/if}}
    {{#if this.hasNext}}
      <AuButton class="au-u-margin-top" {{on "click" (perform this.fetchBesluiten this.nextPage)}}>
        Meer laden
      </AuButton>
    {{/if}}
  </WithRdfaContext>
{{/if}}
