{{#if this.fastboot.isFastBoot}}
  {{html-safe @besluitenlijst.inhoud}}
{{else}}
  <div class='besluitenlijst'>
    {{html-safe this.treatedHtml.html}}
  </div>

  {{#each this.treatedHtml.decisions as |decision|}}
    {{#let (this.getWrapper decision) as |el|}}
      {{#if el}}
        {{#in-element el}}
          <DecisionLink
            @zittingId={{@zitting.id}}
            @decisionElement={{decision}}
          />
        {{/in-element}}
      {{/if}}
    {{/let}}
  {{/each}}
{{/if}}