<div {{did-insert (perform this.findBestuurseenheidNamen null)}} 
     {{did-update (perform this.findBestuurseenheidNamen null) @bestuurseenheidClassificatie}}>
  <PowerSelect
    @ariaLabel="Zoekbalk"
    @placeholder="Oost-Vlaanderen, Berchem, Hasselt, ..."
    @selected={{@selected}}
    @searchEnabled={{true}}
    @options={{this.bestuurseenheidNamen}}
    @search={{perform this.findBestuurseenheidNamen}}
    @onChange={{@onSelect}}
    @allowClear={{true}}
    as |bestuurseenheidNaam|
  >
    {{bestuurseenheidNaam}}
  </PowerSelect>
</div>