<div {{did-insert (perform this.findbestuurseenheidClassificatie)}} {{did-update (perform this.findbestuurseenheidClassificatie) @model}}>
  <PowerSelect
    @ariaLabel="Zoekbalk"
    @placeholder="Gemeente, District, Provincie of OCMW ..."
    @selected={{@selected}}
    @searchEnabled={{true}}
    @searchField="label"
    @options={{this.bestuurseenheidClassificatie}}
    @onChange={{@onSelect}}
    @allowClear={{true}}
    as |bestuurseenheidClassificatieLabel|
  >
    {{bestuurseenheidClassificatieLabel.label}}
  </PowerSelect>
</div>
