{{page-title
  (concat
    @model.bestuurseenheid.classificatie.label ' ' @model.bestuurseenheid.naam
  )
}}

<div class="flex-one">
  <AuDataTable
    @content={{@model.history}}
    @isLoading={{this.isLoadingModel}}
    @noDataMessage="Er werden nog geen publicaties voor"
    @sort={{this.sort}}
    @page={{this.page}}
    @size={{this.pageSize}}
    as |table|
  >
    <table.menu as |menu|>
      <menu.general>
        <AuToolbar class='au-o-box' @size='large' as |Group|>
          <Group>
            <AuHeading @skin='2'>
              Volledig historiek van reglement
            </AuHeading>
          </Group>
        </AuToolbar>
      </menu.general>
    </table.menu>
    <table.content as |c|>
      <c.header>
        <th><span
            class='au-c-data-table__header-title au-c-data-table__header-title--sortable'
          >Reglement</span></th>
        <AuDataTableThSortable
          @field='publicationdate'
          @currentSorting={{this.sort}}
          @label="Publicatiedatum"
        />
      </c.header>
      <c.body as |resource|>
          <td>
            <AuLink @route='bestuurseenheid.reglementen.history.history-reglement' @model={{resource.uittreksel.id}} property="lblodBesluit:linkToPublication" @skin="link-secondary">
              {{resource.besluit.titel}}
            </AuLink>
            {{#if resource.latest}}
              <AuPill @skin="success">Huidge versie</AuPill>
            {{/if}}

            {{#if resource.original}}
              <AuPill>Eerste publicatie</AuPill>
            {{/if}}
          </td>
          <td>
            {{format-date resource.publication.createdOn 'dd-MM-yyyy HH:mm'}}
          </td>
      </c.body>
    </table.content>
  </AuDataTable>
</div>