{{page-title (concat this.bestuurseenheid.classificatie.label " " this.bestuurseenheid.naam)}}
<AuMainContainer as |m|>
  <m.sidebar>
    <Sidebar />
  </m.sidebar>
  <m.content @scroll={{true}}>
    <div class="au-o-region-large">
      <div class="au-o-layout">
        <AuHeading @level="1" @skin="2" class="au-u-margin-bottom">Reglementen van {{this.bestuurseenheid.classificatie.label}} {{this.bestuurseenheid.naam}}</AuHeading>
        {{#if this.fetchMeetings.isRunning}}
          <AuLoader />
        {{else}}
          {{#if this.model.length}}
            <ul class="au-c-list">
              {{#each this.model as |uittreksel|}}
                <li class="au-c-list__item">
                  {{!-- template-lint-disable no-array-prototype-extensions --}}
                  <UittrekselOverviewItem @uittreksel={{uittreksel}} @besluit={{uittreksel.behandelingVanAgendapunt.besluiten.firstObject}} @routePath="bestuurseenheid.reglementen.detail" />
                </li>
              {{/each}}
            </ul>
            <div class="au-c-pagination au-u-margin-top">
              <p>
                <span class="au-u-hidden-visually">Uittreksel</span>
                <strong>
                  {{this.model.meta.pageStart}} - {{this.model.meta.pageEnd}}
                </strong>
                van
                {{this.model.meta.count}}
              </p>
              <ul class="au-c-pagination__list">
                {{#if this.model.meta.page}}
                  <li class="au-c-pagination__list-item">
                    {{! The route in the following AuLink could be removed, if supported again. }}
                    <AuLink property="lblodBesluit:linkToPublication" @route="bestuurseenheid.reglementen" @query={{hash page=this.model.meta.previousPage}} @icon="nav-left" @iconAlignment="left">Vorige pagina</AuLink>
                  </li>
                {{/if}}
                {{#if this.model.meta.nextPage}}
                  <li class="au-c-pagination__list-item">
                    {{! The route in the following AuLink could be removed, if supported again. }}
                    <AuLink property="lblodBesluit:linkToPublication" @route="bestuurseenheid.reglementen" @query={{hash page=this.model.meta.nextPage}} @icon="nav-right" @iconAlignment="right">Volgende pagina</AuLink>
                  </li>
                {{/if}}
              </ul>
            </div>
            {{outlet}}
          {{else}}
            <AuContent>
              <p>Er werden nog geen publicaties voor {{this.bestuurseenheid.classificatie.label}} {{this.bestuurseenheid.naam}} gevonden</p>
              <p>Kom later nog eens terug, of
                <AuLink @route="index">
                  zoek naar publicaties van een ander bestuur.
                </AuLink>
              </p>
            </AuContent>
          {{/if}}
        {{/if}}
      </div>
    </div>
    <AuMainFooter>
      <AuHeading @level="2" @skin="4">
        Publicatie.gelinkt-notuleren.vlaanderen.be is een officiële website van de Vlaamse overheid
      </AuHeading>
      <AuContent @skin="small">
        <p>Uitgegeven door <a class="au-c-link" href="https://www.vlaanderen.be/organisaties/administratieve-diensten-van-de-vlaamse-overheid/beleidsdomein-kanselarij-en-bestuur/agentschap-binnenlands-bestuur">Agentschap Binnenlands Bestuur</a></p>
        <ul class="au-c-list-horizontal">
          <li class="au-c-list-horizontal__item">
            <AuLink @route="legaal.disclaimer" @skin="secondary">Disclaimer</AuLink>
          </li>
          <li class="au-c-list-horizontal__item">
            <AuLink @route="legaal.cookieverklaring" @skin="secondary">Cookieverklaring</AuLink>
          </li>
          <li class="au-c-list-horizontal__item">
            <AuLink @route="legaal.toegankelijkheidsverklaring" @skin="secondary">Toegankelijkheid</AuLink>
          </li>
        </ul>
      </AuContent>
    </AuMainFooter>
  </m.content>
</AuMainContainer>
