<div class="au-o-layout">
  <WithRdfaContext @model={{this.zitting}} @class="au-o-region-large" as |ctx|>
    <AuHeading @skin="2" class="au-u-margin-bottom">
      Bekendmakingen en uittreksels van
      <ctx.get @prop="bestuursorgaan" as |elements _ bInTimeCtx|>
        <span {{rdfa elements}}>
          <bInTimeCtx.get @prop="isTijdsspecialisatieVan" as |elements _ bCtx|>
            <span {{rdfa elements}}>
              <bCtx.get @prop="naam" />
            </span>
          </bInTimeCtx.get>
        </span>
      </ctx.get>
      , zitting van
      <ctx.get @prop="geplandeStart" as |elements value|>
        <span {{rdfa elements}}>{{format-date value 'd MMMM yyyy, HH:mm'}}</span>
      </ctx.get>
    </AuHeading>

    <ul class="au-c-list">
    {{#each this.uittreksels as |uittreksel|}}
      <li class="au-c-list__item">
        <UittrekselOverviewItem
          @uittreksel={{uittreksel}}
          @besluit={{uittreksel.behandelingVanAgendapunt.besluiten.firstObject}}
        />
      </li>
    {{else}}
      <li>
        <p>Geen bekendmakingen of uittreksels beschikbaar.</p>
      </li>
    {{/each}}
    </ul>
  </WithRdfaContext>
</div>

{{outlet}}
`
