<div class="container-flex--scroll u-padding--round">
  <div class="grid">
    {{#with-rdfa-context model=model class="col--7-12 col--9-12--m col--1-1--s" as |ctx|}}
      <h1 class="h1 u-spacer--top--small">
        Bekendmakingen en uittreksels van
        {{#ctx.get prop="bestuursorgaan" as |attrs _ bInTimeCtx|}}
          <span {{rdfa attrs}}>
            {{#bInTimeCtx.get prop="isTijdsspecialisatieVan" as |attrs _ bCtx|}}
              <span {{rdfa attrs}}>
                {{bCtx.get prop="naam"}}
              </span>
            {{/bInTimeCtx.get}}
          </span>
        {{/ctx.get}}
        , zitting van
        {{#ctx.get prop="geplandeStart" as |attrs value|}}
          <span {{rdfa attrs}} class="u-spacer--tiny">{{moment-format value 'D MMMM YYYY, HH:mm'}}</span>
        {{/ctx.get}}
      </h1>

      <div class="grid grid--is-stacked">
        {{#each uittreksels as |uittreksel|}}
	      	<div class="col--12-12">
  	        {{uittreksel-overview-item uittreksel=uittreksel}}
		      </div>
        {{else}}
	      	<div class="col--12-12">
	          <p>Geen bekendmakingen of uittreksels beschikbaar.</p>
	        </div>
        {{/each}}
      </div>
    {{/with-rdfa-context}}
  </div>
</div>

{{outlet}}
