<div class="au-o-layout">
  <WithRdfaContext @model={{this.zitting}} class="au-o-region-large" as |ctx|>
    <AuHeading @skin="2" class="au-u-margin-bottom">
      Bekendmakingen en uittreksels van
      <ctx.span @prop="bestuursorgaan" as |_ bInTimeCtx|>
        <bInTimeCtx.span @prop="isTijdsspecialisatieVan" as |_ bCtx|>
          <bCtx.get @prop="naam" />
        </bInTimeCtx.span>
      </ctx.span>
      , zitting van
      <ctx.span @prop="geplandeStart" as |value|>{{format-date value 'd MMMM yyyy, HH:mm'}}</ctx.span>
    </AuHeading>

    <ul class="au-c-list">
    {{#each this.uittreksels as |uittreksel|}}
      <li class="au-c-list__item">
        {{!-- template-lint-disable no-array-prototype-extensions --}}
        <UittrekselOverviewItem @uittreksel={{uittreksel}} @besluit={{uittreksel.behandelingVanAgendapunt.besluiten.firstObject}} @routePath="bestuurseenheid.zitting.uittreksels.detail" />
      </li>
    {{else}}
      <li>
        <p>Geen bekendmakingen of uittreksels beschikbaar.</p>
      </li>
    {{/each}}
    </ul>
  </WithRdfaContext>
</div>

{{outlet}}
