<div class="container-flex--scroll u-padding--round">
  <a href="http://data.lblod.info/id/document-types/agenda" property="dct:type" class="u-hidden"></a>

  <div class="col--7-12 col--9-12--m col--1-1--s" typeof="besluit:Zitting" resource={{this.model.uri}}>
    <h1 class="h1 u-spacer--top--small">
      <span resource={{this.model.agendas.firstObject.uri}} typeof="foaf:Document" property="besluit:heeftAgenda">Agenda</span>
      voor
      <span resource={{this.model.bestuursorgaan.uri}} typeof="besluit:Bestuursorgaan" property="besluit:isGehoudenDoor">
        <span resource={{this.model.bestuursorgaan.isTijdsspecialisatieVan.uri}} typeof="besluit:Bestuursorgaan" property="mandaat:isTijdspecialisatieVan">
          <span property="skos:prefLabel">{{this.model.bestuursorgaan.isTijdsspecialisatieVan.naam}}</span>
        </span>
      </span>
      , zitting van
      <span property="besluit:geplandeStart" content={{iso-date this.model.geplandeStart}} datatype="xsd:dateTime" class="u-spacer--tiny">{{moment-format this.model.geplandeStart 'D MMMM YYYY, HH:mm'}}</span>
    </h1>

    <div class="grid grid--is-stacked">
      {{#if this.model.agendapunten.length}}
        {{#each this.model.sortedAgendapunten as |agendapunt index|}}
          <div resource={{agendapunt.uri}} typeof="besluit:Agendapunt" property="besluit:behandelt" class="col--12-12">
            <AgendapuntOverviewItem @agendapunt={{agendapunt}} @index={{index}} />
          </div>
        {{/each}}
      {{else}}
        <div>
          <p>Geen agendapunten beschikbaar.</p>
        </div>
      {{/if}}
    </div>
  </div>
</div>
