<div class="container-flex--scroll u-padding--round">
  <a href="http://data.lblod.info/id/document-types/agenda" property="dct:type" class="u-hidden"></a>

  <div class="col--7-12 col--9-12--m col--1-1--s" typeof="besluit:Zitting" resource={{model.uri}}>
    <h1 class="h1 u-spacer--top--small">
      <span resource={{model.agenda.uri}} typeof="foaf:Document" property="besluit:heeftAgenda">Agenda</span>
      voor
      <span resource={{model.bestuursorgaan.uri}} typeof="besluit:Bestuursorgaan" property="besluit:isGehoudenDoor">
        <span resource={{model.bestuursorgaan.isTijdsspecialisatieVan.uri}} typeof="besluit:Bestuursorgaan" property="mandaat:isTijdspecialisatieVan">
          <span property="skos:prefLabel">{{model.bestuursorgaan.isTijdsspecialisatieVan.naam}}</span>
        </span>
      </span>
      , zitting van
      <span property="besluit:geplandeStart" content={{iso-date model.geplandeStart}} datatype="xsd:dateTime" class="u-spacer--tiny">{{moment-format model.geplandeStart 'D MMMM YYYY, HH:mm'}}</span>
    </h1>
  </div>

      {{!-- <nav class="tabs__wrapper u-spacer--tiny">
             <ul class="tabs" data-tabs-list>
             {{#if model.spoedeisendeAgenda}}
             {{#link-to 'bestuurseenheid.zitting.agenda' model.id tagName='li' class="tab" activeClass="tab--active"}}
             <a class="tab__link">Spoedeisende agenda</a>
             {{/link-to}}
             {{/if}}
             {{#if model.aanvullendeAgenda}}
             {{#link-to 'bestuurseenheid.zitting.agenda' model.id tagName='li' class="tab" activeClass="tab--active"}}
             <a class="tab__link">Aanvullende agenda</a>
             {{/link-to}}
             {{/if}}
             {{#if model.ontwerpAgenda}}
             {{#link-to 'bestuurseenheid.zitting.ontwerpAgenda' model.id tagName='li' class="tab" activeClass="tab--active"}}
             <a class="tab__link">Ontwerpagenda</a>
             {{/link-to}}
             {{/if}}

             {{#link-to 'bestuurseenheid.zitting.agenda' model.id tagName='li' class="tab" activeClass="tab--active"}}
             <a class="tab__link">Spoedeisende agenda</a>
             {{/link-to}}
             {{#link-to 'bestuurseenheid.zitting.agenda' model.id tagName='li' class="tab"}}
             <a class="tab__link">Aanvullende agenda</a>
             {{/link-to}}
             {{#link-to 'bestuurseenheid.zitting.agenda' model.id tagName='li' class="tab"}}
             <a class="tab__link">Ontwerpagenda</a>
             {{/link-to}}
             </ul>
             </nav> --}}

      <div class="grid grid--is-stacked">
        {{#if model.agendapunten.length}}
          {{#each model.agendapunten as |agendapunt index|}}
            <div resource={{agendapunt.uri}} typeof="besluit:Agendapunt" property="besluit:behandelt" class="col--12-12">
              <AgendapuntOverviewItem @agendapunt={{agendapunt}} @index={{index}} />
            </div>
          {{/each}}
        {{else}}
          <div>
            <p>Geen agendapunten beschikbaar.</p>
          </div>
        {{/if}}
      </div>

    <!-- <div class="col--4-12 col--1-1--s push--1-12 u-bg--blue-gray-lighter">
         <dl class="small">
         <dt>Publicatie</dt>
         <dd>
         <strong>24 januari 2019</strong>
         </dd>
         <br>
         <dt>Verificatiesleutel</dt>
         <dd>
         <strong><i class="fa fa-lock vi-u-xs"></i>&nbsp;123R8883-3122344-455123R888-33122344455</strong>
         <p class="small"><a href="#">Verifieer publicatie met origineel</a></p>
         </dd>
         <br>
         <dt>Nietig verklaarde versies</dt>
         <dd>
         <div>
         <strong><a href="#">Publicatie op 10.12.2019</a></strong>
         <p class="smaller text-fade u-spacer--tiny">Gepubliceerd op 10.12.2019</p>
         </div>
         <div>
         <strong><a href="#">Publicatie op 10.12.2019</a></strong>
         <p class="smaller text-fade u-spacer--tiny">Gepubliceerd op 10.12.2019</p>
         </div>
         <div>
         <strong><a href="#">Publicatie op 10.12.2019</a></strong>
         <p class="smaller text-fade u-spacer--tiny">Gepubliceerd op 10.12.2019</p>
         </div>
         </dd>
         <br>
         </dl>
         </div> -->
</div>
