{{breadcrumb-header}}

<div class="container-flex--scroll u-padding--round">
  {{#with-rdfa-context model=model.agenda class="grid" as |agendaCtx|}}
    {{#agendaCtx.get prop="type" link=true as |attrs|}}
      <a {{rdfa attrs}} class="u-hidden"></a>
    {{/agendaCtx.get}}

    {{#with-rdfa-context model=model class="col--7-12 col--9-12--m col--1-1--s" as |ctx|}}
      <h1 class="h1 u-spacer--top--small">
        {{#ctx.get prop="agenda" as |attrs|}}
          <span {{rdfa attrs}}>Agenda</span>
        {{/ctx.get}}
        voor
        {{#ctx.get prop="bestuursorgaan" as |attrs _ bInTimeCtx|}}
          <span {{rdfa attrs}}>
            {{#bInTimeCtx.get prop="isTijdsspecialisatieVan" as |attrs _ bCtx|}}
              <span {{rdfa attrs}}>
                {{bCtx.get prop="naam"}}
              </span>
            {{/bInTimeCtx.get}}
          </span>
        {{/ctx.get}}
        , zitting van
        {{#ctx.get prop="geplandeStart" as |attrs value|}}
          <span {{rdfa attrs}} class="u-spacer--tiny">{{moment-format value 'D MMMM YYYY, HH:mm'}}</span>
        {{/ctx.get}}
      </h1>

      {{!-- <nav class="tabs__wrapper u-spacer--tiny">
             <ul class="tabs" data-tabs-list="">
             {{#if model.spoedeisendeAgenda}}
             {{#link-to 'bestuurseenheid.zitting.agenda' model.id tagName='li' class="tab" activeClass="tab--active"}}
             <a class="tab__link">Spoedeisende agenda</a>
             {{/link-to}}
             {{/if}}
             {{#if model.aanvullendeAgenda}}
             {{#link-to 'bestuurseenheid.zitting.agenda' model.id tagName='li' class="tab" activeClass="tab--active"}}
             <a class="tab__link">Aanvullende agenda</a>
             {{/link-to}}
             {{/if}}
             {{#if model.ontwerpAgenda}}
             {{#link-to 'bestuurseenheid.zitting.ontwerpAgenda' model.id tagName='li' class="tab" activeClass="tab--active"}}
             <a class="tab__link">Ontwerpagenda</a>
             {{/link-to}}
             {{/if}}

             {{#link-to 'bestuurseenheid.zitting.agenda' model.id tagName='li' class="tab" activeClass="tab--active"}}
             <a class="tab__link">Spoedeisende agenda</a>
             {{/link-to}}
             {{#link-to 'bestuurseenheid.zitting.agenda' model.id tagName='li' class="tab"}}
             <a class="tab__link">Aanvullende agenda</a>
             {{/link-to}}
             {{#link-to 'bestuurseenheid.zitting.agenda' model.id tagName='li' class="tab"}}
             <a class="tab__link">Ontwerpagenda</a>
             {{/link-to}}
             </ul>
             </nav> --}}

      <div class="grid grid--is-stacked">
        {{#if model.agendapunten.length}}
          {{#ctx.each prop="sortedAgendapunten" as |attrs agendapunt agendapuntCtx index|}}
        	  <div {{rdfa attrs}} class="col--12-12">
              {{agendapunt-overview-item agendapunt=agendapunt ctx=agendapuntCtx index=index}}
            </div>
          {{/ctx.each}}
        {{else}}
          <div>
          	<p>Geen agendapunten beschikbaar.</p>
          </div>
        {{/if}}
      </div>
    {{/with-rdfa-context}}

    <!-- <div class="col--4-12 col--1-1--s push--1-12 u-bg--blue-gray-lighter">
         <dl class="small">
         <dt>Publicatie</dt>
         <dd>
         <strong>24 januari 2019</strong>
         </dd>
         <br>
         <dt>Verificatiesleutel</dt>
         <dd>
         <strong><i class="fa fa-lock vi-u-xs"></i>&nbsp;123R8883-3122344-455123R888-33122344455</strong>
         <p class="small"><a href="#">Verifieer publicatie met origineel</a></p>
         </dd>
         <br>
         <dt>Nietig verklaarde versies</dt>
         <dd>
         <div>
         <strong><a href="#">Publicatie op 10.12.2019</a></strong>
         <p class="smaller text-fade u-spacer--tiny">Gepubliceerd op 10.12.2019</p>
         </div>
         <div>
         <strong><a href="#">Publicatie op 10.12.2019</a></strong>
         <p class="smaller text-fade u-spacer--tiny">Gepubliceerd op 10.12.2019</p>
         </div>
         <div>
         <strong><a href="#">Publicatie op 10.12.2019</a></strong>
         <p class="smaller text-fade u-spacer--tiny">Gepubliceerd op 10.12.2019</p>
         </div>
         </dd>
         <br>
         </dl>
         </div> -->
  {{/with-rdfa-context}}
</div>
