<div class="au-o-layout">
  <a href="http://data.lblod.info/id/document-types/agenda" property="dct:type" class="au-u-hidden"></a>
  <div class="au-o-region-large" typeof="besluit:Zitting" resource={{this.meeting.uri}}>
    <AuHeading @skin="2" class="au-u-margin-bottom">
      <span resource={{this.agenda.uri}} typeof="foaf:Document" property="besluit:heeftAgenda">Agenda</span>
      voor
      <span resource={{this.meeting.bestuursorgaan.uri}} typeof="besluit:Bestuursorgaan" property="besluit:isGehoudenDoor">
        <span resource={{this.meeting.bestuursorgaan.isTijdsspecialisatieVan.uri}} typeof="besluit:Bestuursorgaan" property="mandaat:isTijdspecialisatieVan">
          <span property="skos:prefLabel">{{this.meeting.bestuursorgaan.isTijdsspecialisatieVan.naam}}</span>
        </span>
      </span>
      , zitting van
      <span property="besluit:geplandeStart" content={{iso-date this.meeting.geplandeStart}} datatype="xsd:dateTime">{{format-date this.meeting.geplandeStart 'd MMMM yyyy, HH:mm'}}</span>
    </AuHeading>
    <p class="au-c-heading au-c-heading--5">
      Datum publicatie:
      {{#if this.publication.createdOn}}
        <span property="eli:date_publication" content={{format-date this.publication.createdOn 'YYYY-MM-DD'}} datatype="xsd:date">
          {{format-date this.publication.createdOn 'd MMMM yyyy'}}
        </span>
      {{else}}
        {{!-- old data does not have this field --}}
        ongekend
      {{/if}}
    </p>
    <ul class="au-c-list">
      {{#if this.sortedAgendapoints.length}}
        {{#each this.sortedAgendapoints as |agendapunt index|}}
          <li resource={{agendapunt.uri}} typeof="besluit:Agendapunt" property="besluit:behandelt" class="au-c-list__item">
            <AgendapuntOverviewItem @agendapunt={{agendapunt}} @index={{index}} />
          </li>
        {{/each}}
      {{else}}
        <li>
          <p class="au-c-help-text au-c-help-text--tertiary">Geen agendapunten beschikbaar.</p>
        </li>
      {{/if}}
    </ul>
  </div>
</div>
