<div class="container-flex--scroll u-padding--round">
  <h2>
  <span resource={{model.uri}} typeof="besluit:Zitting">
    <span resource={{model.bestuursorgaan.uri}} typeof="besluit:Bestuursorgaan" property="besluit:isGehoudenDoor">
      <span resource={{model.bestuursorgaan.isTijdsspecialisatieVan.uri}} typeof="besluit:Bestuursorgaan" property="mandaat:isTijdspecialisatieVan">
        <span property="besluit:bestuurt" resource={{model.bestuursorgaan.isTijdsspecialisatieVan.bestuurseenheid.uri}} typeof="besluit:Bestuurseenheid">
          <span property="org:classification" resource={{model.bestuursorgaan.isTijdsspecialisatieVan.bestuurseenheid.classificatie.uri}}>
            <span property="skos:prefLabel">
              {{model.bestuursorgaan.isTijdsspecialisatieVan.bestuurseenheid.classificatie.label}}
            </span>
          </span>
          <span property="skos:prefLabel">
            {{model.bestuursorgaan.isTijdsspecialisatieVan.bestuurseenheid.naam}}
          </span>
        </span>
     </span>
    </span>
  </span>
  </h2>
  <h2>
    <span resource={{model.besluitenlijst.uri}} typeof="https://data.vlaanderen.be/id/concept/BesluitDocumentType/3fa67785-ffdc-4b30-8880-2b99d97b4dee">
      Besluitenlijst goedgekeurd door
      <span property="eli:passed_by" resource={{model.bestuursorgaan.uri}} typeof="besluit:Bestuursorgaan">
        <span resource={{model.bestuursorgaan.isTijdsspecialisatieVan.uri}} typeof="besluit:Bestuursorgaan" property="mandaat:isTijdspecialisatieVan">
          <span property="skos:prefLabel">{{model.bestuursorgaan.isTijdsspecialisatieVan.naam}}</span>
        </span>
      </span>
    </span>
  </h2>
  <h2>
    <span resource={{model.besluitenlijst.uri}} typeof="https://data.vlaanderen.be/id/concept/BesluitDocumentType/3fa67785-ffdc-4b30-8880-2b99d97b4dee">
      Datum publicatie:
      <span property="eli:date_publication" content={{moment-format model.besluitenlijst.publicatiedatum 'YYYY-MM-DD'}} datatype="xsd:date">
        {{moment-format model.besluitenlijst.publicatiedatum 'D MMMM YYYY'}}
      </span>
    </span>
  </h2>
  <div typeof="foaf:Document" resource={{model.besluitenlijst.uri}} class="grid">
    {{!-- CONSTANTS --}}
    <a class="u-hidden" href="https://data.vlaanderen.be/id/concept/BesluitDocumentType/3fa67785-ffdc-4b30-8880-2b99d97b4dee" property="dct:type"></a>
    <span class="u-hidden" resource={{model.besluitenlijst.uri}} typeof="https://data.vlaanderen.be/id/concept/BesluitDocumentType/3fa67785-ffdc-4b30-8880-2b99d97b4dee"></span>
    {{!-- END CONSTANTS --}}
    <div typeof="besluit:Zitting" resource={{model.uri}} class="col--7-12 col--9-12--m col--1-1--s">
      <h1 class="h1 u-spacer--top--small">
        <span resource={{model.besluitenlijst.uri}} typeof="foaf:Document" property="besluit:heeftBesluitenlijst">Besluitenlijst</span>
        van
        <span resource={{model.bestuursorgaan.uri}} typeof="besluit:Bestuursorgaan" property="besluit:isGehoudenDoor">
          <span resource={{model.bestuursorgaan.isTijdsspecialisatieVan.uri}} typeof="besluit:Bestuursorgaan" property="mandaat:isTijdspecialisatieVan">
            <span property="skos:prefLabel">{{model.bestuursorgaan.isTijdsspecialisatieVan.naam}}</span>
          </span>
        </span>
        , zitting van
        <span class="u-spacer--tiny" property="prov:startedAtTime" content={{moment-format model.gestartOpTijdstip 'YYYY-MM-DDTHH:mm:ss'}} datatype="xsd:dateTime">
          {{moment-format model.gestartOpTijdstip 'D MMMM YYYY, HH:mm'}}
        </span>
      </h1>
      <div class="grid grid--is-stacked">
        {{#each model.besluitenlijst.besluiten as |besluit|}}
          <div class="col--12-12">
            <BesluitOverviewItem @besluit={{besluit}} />
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
{{outlet}}
