<div class="container-flex--scroll u-padding--round--large">
  <h1 class="h1">Besluitenlijst van {{get (await model.bestuursorgaan.isTijdsspecialisatieVan) 'naam'}}, zitting van {{moment-format model.geplandeStart 'D MMMM YYYY, HH:mm'}}</h1>

  <div class="annotation-structure">
	  <ul class="clickable-box-list">
	    {{#each agendapunten as |agendapunt index|}}
	      {{#each agendapunt.behandeling.besluiten as |besluit|}}
	        <li class="{{unless model.isPublished "not-active"}}">
	        	{{#link-to 'bestuurseenheid.zitting.besluitenlijst.show' agendapunt.behandeling.id disabledWhen=(not model.isPublished) class='annotation annotation--agendapunt annotation--agendapunt--{{if item.geplandOpenbaar "open" "besloten"}}'}}
		          <div class="list-number">{{inc index}}</div>
		          <div class="list-content">
		          	<div class="u-spacer--tiny">{{clean-spaces besluit.titel}}</div>
			          <p class="info-tile__header__subtitle u-spacer--small">{{clean-spaces besluit.beschrijving}}</p>
			        </div>
		        {{/link-to}}
	        </li>
	      {{/each}}
      {{else}}
        <li>Geen besluitenlijst beschikbaar.</li>
      {{/each}}
	  </ul>
	</div>
</div>

{{outlet}}
