{{#let (format-date this.model.zitting.gestartOpTijdstip 'd MMMM yyyy, HH:mm') as |startDate|}}
  {{page-title (concat
    "Besluitenlijst van "
    this.model.zitting.bestuursorgaan.isTijdsspecialisatieVan.naam
    ", zitting van "
    startDate
    )}}
{{/let}}
<div class="au-o-layout">
  <div class="au-o-region-large">
    <WithRdfaContext @model={{this.model.zitting}} as |ctx|>
      <ctx.get @prop="besluitenlijst" as |elements besluitenlijst bCtx|>
        <div {{rdfa elements}}>
          <Besluitenlijst @besluitenlijst={{this.model.besluitenlijst}} @besluiten={{this.model.besluiten}} @zitting={{this.model.zitting}} />
          <div class="au-u-margin-top">
            <p class="au-c-heading au-c-heading--5 au-u-margin-bottom-tiny">
              Besluitenlijst goedgekeurd door
              <ctx.get @prop="bestuursorgaan" @property="eli:passed_by" as |elements _ boCtx|>
                <span {{rdfa elements}}>
                  <boCtx.get @prop="isTijdsspecialisatieVan" as |elements _ itsvCtx|>
                    <span {{rdfa elements}}>
                      <itsvCtx.get @prop="naam" />
                    </span>
                  </boCtx.get>
                </span>
              </ctx.get>
            </p>
            <p class="au-c-heading au-c-heading--5">
              Datum publicatie:
              {{#if this.model.besluitenlijst.publicatiedatum}}
                <bCtx.get @prop="publicatiedatum" as |elements publicatiedatum _|>
                  <span {{rdfa elements}}>
                    {{format-date publicatiedatum 'd MMMM yyyy'}}
                  </span>
                </bCtx.get>
              {{else}}
                {{!-- old data does not have this field --}}
                ongekend
              {{/if}}
            </p>
          </div>
        </div>
      </ctx.get>
    </WithRdfaContext>
  </div>
</div>
