<div class="au-o-layout">
  <div typeof="besluit:Zitting" resource={{this.model.zitting.uri}} class="au-o-region-large">
    <AuHeading @skin="2" class="au-u-margin-bottom">Besluitenlijst van
      <span resource={{this.model.zitting.bestuursorgaan.uri}} typeof="besluit:Bestuursorgaan" property="besluit:isGehoudenDoor">
        <span resource={{this.model.zitting.bestuursorgaan.isTijdsspecialisatieVan.uri}} typeof="besluit:Bestuursorgaan" property="mandaat:isTijdspecialisatieVan">
          <span property="skos:prefLabel">{{this.model.zitting.bestuursorgaan.isTijdsspecialisatieVan.naam}}</span>
        </span>
      </span>, zitting van
      {{#if this.model.zitting.gestartOpTijdstip}}
        <span class="au-u-margin-bottom-tiny" property="prov:startedAtTime" content={{iso-date this.model.zitting.gestartOpTijdstip}} datatype="xsd:dateTime">
          {{moment-format this.model.zitting.gestartOpTijdstip 'D MMMM YYYY, HH:mm'}}
        </span>
      {{else}}
        {{!-- fallback for old data --}}
        <span class="au-u-margin-bottom-tiny" property="prov:startedAtTime" content={{iso-date this.model.zitting.geplandeStart}} datatype="xsd:dateTime">
          {{moment-format this.model.zitting.geplandeStart 'D MMMM YYYY, HH:mm'}}
        </span>
      {{/if}}
    </AuHeading>
    <div property="besluit:heeftBesluitenlijst" resource={{this.model.besluitenlijst.uri}} typeof="https://data.vlaanderen.be/id/concept/BesluitDocumentType/3fa67785-ffdc-4b30-8880-2b99d97b4dee foaf:Document">
      <div class="au-u-margin-top">
        <p class="au-c-heading au-c-heading--5 au-u-margin-bottom-tiny">
          Besluitenlijst goedgekeurd door
          <span property="eli:passed_by" resource={{this.model.zitting.bestuursorgaan.uri}} typeof="besluit:Bestuursorgaan">
            <span resource={{this.model.zitting.bestuursorgaan.isTijdsspecialisatieVan.uri}} typeof="besluit:Bestuursorgaan" property="mandaat:isTijdspecialisatieVan">
              <span property="skos:prefLabel">{{this.model.zitting.bestuursorgaan.isTijdsspecialisatieVan.naam}}</span>
            </span>
          </span>
        </p>
        <p class="au-c-heading au-c-heading--5">
          Datum publicatie:
          {{#if this.model.besluitenlijst.publicatiedatum}}
            <span property="eli:date_publication" content={{moment-format this.model.besluitenlijst.publicatiedatum 'YYYY-MM-DD'}} datatype="xsd:date">
              {{moment-format this.model.besluitenlijst.publicatiedatum 'D MMMM YYYY'}}
            </span>
          {{else}}
            {{!-- old data does not have this field --}}
            ongekend
          {{/if}}
        </p>
      </div>
      <div typeof="besluit:Zitting" resource={{this.model.zitting.uri}}>
        <ul class="au-c-list au-u-margin-top">
          <li class="au-c-list__item">
            <Besluitenlijst @besluitenlijst={{this.model.besluitenlijst}} @besluiten={{this.model.besluiten}} />
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{{outlet}}
