<BreadCrumbs @tagName="ul" @linkable={{true}} @crumbClass="breadcrumb-item" @class="functional-header__sub__actions" as |component route|>
  <BreadCrumb @route={{route}} @breadCrumbs={{component}} @linkClass="au-c-link" @class="functional-header__sub__action">
    <p class="functional-header__sub__title">
        {{route.title}}
    </p>
  </BreadCrumb>
</BreadCrumbs>

{{outlet}}
