{{breadcrumb "Zoekpagina" route="index"}}
{{breadcrumb this.model.classificatie.label " " this.model.naam route="bestuurseenheid" model=this.model}}

<AuToolbar @size="medium" @skin="tint" @border="bottom" class="au-c-toolbar__breadcrumbs">
  <AuToolbar::Group>
    <nav aria-label="Breadcrumb">
      <ol class="au-c-list-horizontal">
        {{#each (breadcrumbs) as |breadcrumb|}}
          <li class="au-c-list-horizontal__item">
            {{#let (has-next breadcrumb (breadcrumbs)) as |isNotLastBreadcrumb|}}
              {{#if isNotLastBreadcrumb}}
                <AuLink @route={{breadcrumb.data.route}} @model={{breadcrumb.data.model}}>
                  {{breadcrumb.title}}
                </AuLink>
              {{else}}
                {{breadcrumb.title}}
              {{/if}}
            {{/let}}
          </li>
        {{/each}}
      </ol>
    </nav>
  </AuToolbar::Group>
</AuToolbar>

<AuMainContainer as |m|>
  <m.sidebar>
    <Sidebar />
  </m.sidebar>
  <m.content @scroll={{true}}>
    {{outlet}}
  </m.content>
</AuMainContainer>
