<div class="container-flex--contain">

  {{#if model.length}}
    <div class="grid grid--collapse">
      <div class="col--3-12 sidebar-zittingen-overview">
        <div class="container-flex--contain">
          <div class="sidebar">
            <div class="sidebar__content">
              <div class="side-navigation side-navigation--blocks">
                <ul class="side-navigation__group">
                  {{#each model as |zitting|}}
                  	{{#link-to 'bestuurseenheid.zitting.zitting' zitting.id tagName='li' class="side-navigation__item" activeClass="active"}}
                      <a href="#">
                    		{{get (await zitting.bestuursorgaan.isTijdsspecialisatieVan) 'naam'}},
                      	<br>
                      	zitting van {{moment-format zitting.geplandeStart 'D MMMM YYYY, HH:mm'}}
	                      <br>
	                      <span class="u-spacer--top--tiny u-display--block">
		                      {{#if zitting.isPublished}}
		                      	{{#wu-pill class="pill--primary-blue"}}
		                      		<i class="vi vi-news"></i> Notulen publiek
														{{/wu-pill}}
		                      {{else if zitting.hasBesluitenlijst}}
		                      	{{#wu-pill class="pill--primary-blue"}}
		                      		<i class="vi vi-news"></i> Besluitenlijst publiek
														{{/wu-pill}}
		                      {{else if zitting.agenda}}
		                      	{{#wu-pill}}
		                      		<i class="vi vi-news"></i> Agenda publiek
														{{/wu-pill}}
		                      {{/if}}

													{{!-- When we adapt the pages
 		                      {{#if zitting.isPublished}}
		                      	{{#wu-pill class="pill--primary-blue"}}
		                      		<i class="vi vi-news"></i> Notulen publiek
														{{/wu-pill}}
		                      {{else if zitting.ontwerpNotulen}}
		                      	{{#wu-pill class="pill--primary-blue"}}
		                      		<i class="vi vi-edit"></i> Ontwerpnotulen publiek
														{{/wu-pill}}
		                      {{else if zitting.hasBesluitenlijst}}
		                      	{{#wu-pill class="pill--primary-yellow"}}
		                      		<i class="vi vi-news"></i> Besluitenlijst publiek
														{{/wu-pill}}
		                      {{else if zitting.spoedeisendeAgenda}}
		                      	{{#wu-pill}}
		                      		<i class="vi vi-clock"></i> Spoedeisende agenda publiek
														{{/wu-pill}}
		                      {{else if zitting.aanvullendeAgenda}}
		                      	{{#wu-pill}}
		                      		<i class="vi vi-news"></i> Aanvullende agenda publiek
														{{/wu-pill}}
		                      {{else if zitting.ontwerpAgenda}}
		                      	{{#wu-pill}}
		                      		<i class="vi vi-edit"></i> Ontwerpagenda publiek
														{{/wu-pill}}
		                      {{/if}} --}}
		                    </span>
	                    </a>
                  	{{/link-to}}
                  {{/each}}
                </ul>
              </div>
            </div>
            <div class="sidebar__footer">
              {{number-pagination page=page size=size nbOfItems=model.length
                  total=model.meta.count links=model.meta.pagination}}
            </div>
          </div>
        </div>
      </div>
      {{outlet}}
    </div>
  {{else}}
	<section class="region">
	  <div class="layout layout--wide">
	  	<h1 class="h1">Er werden nog geen publicaties voor {{bestuurseenheid.classificatie.label}} {{bestuurseenheid.naam}} gevonden</h1>
	    <p>Kom later nog eens terug, of
	    	{{#link-to 'bestuurseenheden' class="link--icon"}}
					zoek naar publicaties van een ander bestuur.
				{{/link-to}}
			</p>
	  </div>
	</section>
  {{/if}}
</div>
