{{page-title "Error"}}
{{breadcrumb "Zoekpagina" route="index"}}
{{breadcrumb "Error" route="error"}}
<AuToolbar @size="medium" @skin="tint" @border="bottom" class="au-c-toolbar__breadcrumbs">
  <AuToolbar::Group>
    <nav aria-label="Breadcrumb">
      <ol class="au-c-list-horizontal">
        {{#each (breadcrumbs) as |breadcrumb|}}
          <li class="au-c-list-horizontal__item">
            {{#let (has-next breadcrumb (breadcrumbs)) as |isNotLastBreadcrumb|}}
              {{#if isNotLastBreadcrumb}}
                <AuLink @route={{breadcrumb.data.route}} @model={{breadcrumb.data.model}}>
                  {{breadcrumb.title}}
                </AuLink>
              {{else}}
                {{breadcrumb.title}}
              {{/if}}
            {{/let}}
          </li>
        {{/each}}
      </ol>
    </nav>
  </AuToolbar::Group>
</AuToolbar>

<div class="au-o-region-large">
  <div class="au-o-layout">
    <AuHeading @level="1" @skin="2" class="au-u-margin-bottom">Er is iets fout gelopen</AuHeading>
    <p>Er heeft zich een fout voorgedaan bij het verwerken van uw request.</p>
    <p>Moest dit probleem aanhouden, neem contact op met <a href="mailto:Gelinkt-Notuleren@vlaanderen.be" class="au-c-link">Gelinkt-Notuleren@vlaanderen.be</a>.</p>
    <p><code>{{this.errorMessage}}</code></p>
  </div>
</div>
{{outlet}}
