<div class="container-flex--contain">
  <div class="container-flex--scroll u-padding--round--small">
    <div class="grid grid--align-center">
      <div class="col--8-12 col--1-1--s">
        {{#if model.length}}
          <h1 class="h1 u-spacer--top--small">
            Publicaties van {{bestuurseenheid.classificatie.label}} {{bestuurseenheid.naam}}
          </h1>
          {{#each model as |zitting|}}
            <div class="u-spacer">
              <WithRdfaContext @model={{zitting}} @class="grid grid--is-stacked" as |ctx|>
                <div class="col--6-12 col--1-1--s">
                  <ctx.get @prop="bestuursorgaan" as |elements _ bInTimeCtx|>
                    <h2 class="h4" {{rdfa elements}}>
                      <bInTimeCtx.get @prop="isTijdsspecialisatieVan" as |elements _ bCtx|>
                        <span {{rdfa elements}}>
                          <bCtx.get @prop="naam" />
                        </span>
                      </bInTimeCtx.get>
                    </h2>
                  </ctx.get>
                  <p>
                    <ctx.get @prop="geplandeStart" as |elements value|>
                      <span {{rdfa elements}} class="u-spacer--tiny">{{moment-format value 'D MMMM YYYY, HH:mm'}}</span>
                    </ctx.get>
                  </p>
                  <ul>
                  </ul>
                  <ul class="inline-list">
                    {{#if zitting.notulen.id}}
                      <li>
                        <WuPill @class="pill--small pill--primary-blue">
                          <i class="vi vi-news"></i> Notulen
                        </WuPill>
                      </li>
                    {{/if}}
                    {{#if zitting.besluitenlijst.id }}
                      <li>
                        <WuPill @class="pill--small pill--primary-yellow">
                          <i class="vi vi-news"></i> Besluitenlijst
                        </WuPill>
                      </li>
                    {{/if}}
                    {{#if zitting.uittreksels.length}}
                      <li>
                        <WuPill @class="pill--small pill--primary-yellow">
                          <i class="vi vi-news"></i> Bekendmakingen en uittreksels
                        </WuPill>
                      </li>
                    {{/if}}
                    {{#if zitting.agendas.length}}
                      <li>
                        <WuPill @class="pill--small">
                          <i class="vi vi-news"></i> Agenda
                        </WuPill>
                      </li>
                    {{/if}}
                  </ul>
                </div>
                <div class="col--6-12 col--1-1--s u-align-right u-align-left--s">
                  <a property="lblod:linkToPublication" href={{href-to "bestuurseenheid.zitting.index" zitting.id}} class="button button--small">
                    <i class="vi vi-arrow vi-u-s button__icon"></i>
                    Bekijk publicaties
                  </a>
                </div>
              </WithRdfaContext>
              <div class="u-hr u-spacer--tb"></div>
            </div>
          {{/each}}
          {{!-- <div class="sidebar__footer">
            {{number-pagination page=page size=size nbOfItems=model.length
                total=model.meta.count links=model.meta.pagination}}
          </div> --}}
          {{outlet}}
        {{else}}
          <section class="region">
            <div class="layout layout--wide">
              <h1 class="h1">Er werden nog geen publicaties voor {{bestuurseenheid.classificatie.label}} {{bestuurseenheid.naam}} gevonden</h1>
              <p>Kom later nog eens terug, of
                <LinkTo @route="index" class="link--icon">
                  zoek naar publicaties van een ander bestuur.
                </LinkTo>
              </p>
            </div>
          </section>
        {{/if}}
      </div>
    </div>
  </div>
</div>
