<div class="au-o-region-large">
  <div class="au-o-layout">
    {{#if model.length}}
      <AuHeading @level="1" @skin="2" class="au-u-margin-bottom">Publicaties van {{bestuurseenheid.classificatie.label}} {{bestuurseenheid.naam}}</AuHeading>
      <ul class="au-c-list">
      {{#each model as |zitting|}}
        <li class="au-c-list__item">
          <WithRdfaContext @model={{zitting}} class="au-o-box au-o-box--small au-c-card au-c-card--divided" as |ctx|>
            <div class="au-c-card__header">
              <ctx.get @prop="bestuursorgaan" as |elements _ bInTimeCtx|>
                <h2 class="au-c-heading au-c-heading--4" {{rdfa elements}}>
                  <bInTimeCtx.get @prop="isTijdsspecialisatieVan" as |elements _ bCtx|>
                    <span {{rdfa elements}}>
                      <bCtx.get @prop="naam" />
                    </span>
                  </bInTimeCtx.get>
                </h2>
              </ctx.get>
            </div>
            <div class="au-c-card__content au-u-padding-top-small">
              <div class="au-o-grid au-o-grid--small">
                <div class="au-c-content au-c-content--large au-o-grid__item au-u-3-4@medium">
                  <p>
                    <ctx.get @prop="geplandeStart" as |elements value|>
                      <span {{rdfa elements}}>{{moment-format value 'D MMMM YYYY, HH:mm'}}</span>
                    </ctx.get>
                  </p>
                  <ul class="au-c-list-horizontal au-u-margin-top-small">
                    {{#if zitting.notulen.id}}
                      <li class="au-c-list-horizontal__item">
                        <AuPill @skin="action" @icon="draft" @iconAlignment="left">
                          Notulen
                        </AuPill>
                      </li>
                    {{/if}}
                    {{#if zitting.besluitenlijst.id }}
                      <li class="au-c-list-horizontal__item">
                        <AuPill @skin="warning" @icon="draft" @iconAlignment="left">
                          Besluitenlijst
                        </AuPill>
                      </li>
                    {{/if}}
                    {{#if zitting.uittreksels.length}}
                      <li class="au-c-list-horizontal__item">
                        <AuPill @skin="warning" @icon="draft" @iconAlignment="left">
                          Bekendmakingen en uittreksels
                        </AuPill>
                      </li>
                    {{/if}}
                    {{#if zitting.agendas.length}}
                      <li class="au-c-list-horizontal__item">
                        <AuPill @icon="draft" @iconAlignment="left">
                          Agenda
                        </AuPill>
                      </li>
                    {{/if}}
                  </ul>
                </div>
                <div class="au-o-grid__item au-u-1-4@medium">
                  <a property="lblodBesluit:linkToPublication" href={{href-to "bestuurseenheid.zitting.index" zitting.id}} class="au-c-button au-c-button--block">
                    Bekijk publicaties
                    <AuIcon @icon="arrow-right" @alignment="right" />
                  </a>
                </div>
              </div>
            </div>
          </WithRdfaContext>
        </li>
      {{/each}}
      </ul>
      {{!-- <div class="sidebar__footer">
        {{number-pagination page=page size=size nbOfItems=model.length
            total=model.meta.count links=model.meta.pagination}}
      </div> --}}
      {{outlet}}
    {{else}}
    <AuContent>
      <AuHeading @level="1" @skin="2" class="au-u-margin-bottom">Er werden nog geen publicaties voor {{bestuurseenheid.classificatie.label}} {{bestuurseenheid.naam}} gevonden</AuHeading>
      <p>Kom later nog eens terug, of
        <LinkTo @route="index" class="au-c-link">
          zoek naar publicaties van een ander bestuur.
        </LinkTo>
      </p>
    </AuContent>
    {{/if}}
  </div>
</div>